
grid1_subset_subset_input3.csv
grid3_after_birch_output.csv
grid3_after_kmeans_output2.csv
grid3_before_outlier_output.csv
grid3_height_subset_unique_pts_output.csv
grid3_height_subset_unique_pts_output_centre.csv
grid3_outlier1_output.csv
grid3_outlier2_output.csv
grid3_outlier3_unique_pts_output.csv
grid3_outlier4_unique_pts_output.csv
grid3_unique_pts_output.csv
